
body{

    background-image: url(images/bgleft.png), url(images/bgright.png);
    background-size:3000px;
    background-position: left, right;

    background-repeat: repeat-y;

}



/* small lexend*/
h5{

    font-family: "Lexend";
    font-size: 20px;
    color:rgba(117, 80, 59, 0.943);

    position: relative;
    bottom: 40px;

    text-align: center;

}




#plank{

    position: fixed;
    top: 8px;

    right: 1px;

    z-index: 99;

}

#home{

    position:fixed;
    top:28px;
    right:320px;

    z-index: 100;


}

#gaming{

    position:fixed;
    top:28px;
    right:217px;

    z-index: 100;

}

#about{

    position:fixed;
    top: 28px;
    right:120px;

    z-index: 100;
}

#login{

    position:fixed;
    top: 28px;
    right:20px;

    z-index: 100;


}

#arrow{
    position:fixed;
    top: 28px;
    right:20px;

    z-index: 100;

}