
body{

    background-image: url(images/nmeth.png);
    background-size: 1270px;

}

h1{

    font-family: "Lexend";
    color:rgb(117, 73, 59);
    text-align: center;


}

h2{

    font-size: 500px;
}

h3{
    color:transparent;
    font-size: 10px;
}

#home{

    position: absolute;
    position:fixed;
    top:auto;
    right:45px;

}