
body{

    background-image: url(images/bgleft.png), url(images/bgright.png);
    background-size:3000px;
    background-position: left, right;

    background-repeat: repeat-y;

}

/* regular lexend*/
h1{

    font-family: "Lexend", serif;
    color:rgb(117, 73, 59);
    text-align: center;

    margin-right: 220px;
    margin-left: 220px;



}

/*big blank*/
h2{
    color:transparent;
    font-size: 100px;
}

/* blank */
h3{
    color:transparent;
    font-size: 10px;
}

/* large lexend*/
h4{

    font-family: "Lexend";
    font-size: 50px;
    color:rgb(117, 73, 59);
    text-align: center;
}

/* small lexend*/
h5{

    font-family: "Lexend";
    font-size: 22px;
    color:rgba(117, 80, 59, 0.943);

    position: relative;
    bottom: 40px;
    
    text-align: center;

}

/* cabin sketch*/
h6{

    font-family: "Cabin Sketch";
    font-size: 70px;

    color:rgba(164, 115, 88, 0.943);

    position: relative;
    bottom: 140px;

    text-align: center;
    text-shadow: 0px 0px 5px rgb(176, 124, 98);

}

/* hexa cabin font */
h7{

    font-family: "Cabin Sketch";
    font-size: 60px;

    color:rgb(117, 87, 58);

    position: relative;
    left: 30px;
    bottom: 185px;

    text-shadow: 0px 0px 5px rgb(176, 124, 98);

}

/* hexa lexend font */
h8{

    font-family: "Lexend";
    font-size: 25px;

    color:rgb(88, 68, 49);

    position: relative;
    left: 305px;
    bottom: 165px;



}


#construct{

    position: relative;
    left: 5px;

}

#hexaupload{

     margin-left: 15%;
     margin-right: 42%;

}

#hexaopen{

    margin-left: 15%;
    margin-right: 42%;

}

#hexafree{

    margin-left: 15%;
    margin-right: 42%;

}

#secret{
    position: relative;

}

#black{
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 9998;
}

#ip{
    position: absolute;
    top: 1000px;
    left: 47%;
    z-index: 9999;
    color: red;
    font-size: 20px;
}
#ip2{
    position: absolute;
    top:1026px;
    left: 48.5%;
    z-index: 9999;
    color: red;
    font-size: 20px;
}