
.forgot-password2 {
    overflow-x: hidden;
    overflow-y: hidden;

    width: 100vw;
    height: 100vh;
    background-image: url('./images/walmart.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* Positioning to overlap the navbar */
    position: relative;
    z-index: 500; /* Adjust as needed */

    margin: 0 0 -200px;
}