@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');


/* Login.css */
.login-container {
    width: 100%;
    max-width: 500px;
    margin: 50px auto 0;
    padding: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

/*.login-form h2 {*/
/*    text-align: center;*/
/*    margin-bottom: 20px;*/
/*}*/

/* small lexend*/
.login-form h5{

    font-family: "Lexend", serif;
    font-size: 22px;
    color:rgba(117, 80, 59, 0.943);

    position: relative;
    bottom: 40px;

    text-align: center;

}

.login-form h6 {
    font-family: "Cabin Sketch";
    font-size: 70px;

    color:rgba(164, 115, 88, 0.943);

    position: relative;

    text-align: center;
    margin-bottom: -80px;
    margin-top: 250px;
    text-shadow: 0px 0px 5px rgb(176, 124, 98);
}

.form-group {
    margin-bottom: 15px;

    font-family: "Lexend", serif;
    font-size: 22px;
    color:rgba(117, 80, 59, 0.943);
}

.form-group label {
    margin-bottom: 5px;
    display: block;

    font-family: "Lexend", serif;
    font-size: 22px;
    color:rgba(117, 80, 59, 0.943);
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;

    font-family: "Lexend", serif;
    font-size: 18px;
}

button[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;

    font-family: "Lexend", serif;
    font-size: 22px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.forgot-password {
    text-align: right;
    margin-top: 10px;

    font-family: "Lexend", serif;
    font-size: 17px;
}

.forgot-password a {
    color: #0066cc;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.message{

    margin-top: 50px;
}

.message h4{
    font-family: "Lexend", serif;
    font-size: 30px;
    color:rgba(117, 80, 59, 0.943);
}


/* Links container */
.links {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-items: center;
    width: 100%;
    margin-top: 20px;

    font-family: "Lexend", serif;
    font-size: 20px;
}

.links a {
    text-align: center;
    color: #0066cc;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.separator {
    text-align: center;
    color: #000;
}
