<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flappy Bird</title>
    <link rel="stylesheet" href="flappy.css">
    <script src="flappy.js"></script>
</head>
<body>

    <div id="controls" class="open-button" onclick = "openForm()">
        <img align="right" src = "Flappy%20Images/settings.jpg" height = 50>
    </div>

    <div class="form-popup" id="myForm">

       <label for="difficulty">Select a Difficulty:</label>
        <select name="difficulty" id="difficulty">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select><br>

        <label for="pipes">Select a Pipe Color:</label>
        <select name="pipes" id="pipes">
            <option value="blue">Blue</option>
            <option value="green">Green</option>
            <option value="red">Red</option>
            <option value="yellow">Yellow</option>
        </select><br>

        <label for="bird">Select a Bird:</label>
        <select name="bird" id="bird">
            <option value="bird1">Bird 1</option>
            <option value="bird2">Bird 2</option>
            <option value="bird3">Bird 3</option>
        </select><br><br>



        <button type="submit" class="btn" onclick="closeForm()">Okay!</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>

    </div>

    <canvas id="board"></canvas>



</body>
</html>